ion-header {
  position: absolute;
}
.welcome-section {
  padding: 5px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ion-text-color);
  background: linear-gradient(
    var(--ion-color-primary),
    var(--ion-color-secundary),
    250%,
    var(--ion-background-color)
  );
  h1 {
    font-family: var(--ion-font-title);
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
  }
}

.category-name {
  margin-top: 24px;
  ion-title {
    font-family: var(--ion-font-title);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--ion-text-color);
  }
}

// Container para rolagem horizontal
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;

  // Esconder scroll em celular
  @media (max-width: 768px) {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

// Cards
.list-of-cards {
  flex: 0 0 auto;

  ion-card {
    --background: linear-gradient(
      var(--ion-color-tertiary),
      20%,
      var(--ion-background-color)
    );
    width: 220px;
    border-radius: 10px;

    ion-img {
      margin: 10px 10px 0 10px;
      padding: 10px;
      height: 180px;
      background: #fff;
      object-fit: contain;
      border-radius: 8px;
    }

    ion-card-title {
      --color: var(--card-text-color);
      font-size: 1.25rem;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ion-card-subtitle {
      --color: var(--card-text-color);
      font-size: 1.25rem;
      display: flex;
      flex-direction: column;

      s {
        font-size: 0.8em;
        color: var(--card-subtitle-color);
      }
    }
  }
}
