ion-breadcrumbs {
  display: inline-flex;
  flex-wrap: nowrap;
  ion-breadcrumb {
    --color-active: var(--ion-color-primary);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.product {
  ion-img {
    padding: 10px 0;
    height: 350px;
    background: #fff;
    object-fit: contain;
    border-radius: 8px;
  }

  .content {
    margin: 28px 14px;

    h1 {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .price {
      color: var(--ion-text-color);
      font-size: 2rem;
      font-weight: bolder;

      display: flex;
      flex-direction: column;
      margin: 14px 0;

      s {
        color: var(--ion-subtitle-color);
        font-weight: normal;
        font-size: 0.8em;
        color: var();
      }
    }

    .add-to-cart {
      display: block;
      color: #fff;
    }

    .description {
      color: var(--ion-text-color);
      max-width: 600px;
    }
  }
}

@media (min-width: 600px) {
  .product{
    display: flex;
    justify-self: center;
    justify-content: start;
    ion-img {
    }

    .content {

      .add-to-cart {
        display: inline-block;
      }
    }
  }
}